In [1]:
# Import the dependencies.
%matplotlib inline
import pandas as pd
import gmaps
import requests
import gmaps.datasets
# Import the API key.
from config import g_key

In [2]:
#  Read our cities.csv file into a DataFrame.
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Airai,TL,2022-02-05 17:04:17,-8.9266,125.4092,60.57,92,82,2.06
1,1,Pacific Grove,US,2022-02-05 17:08:09,36.6177,-121.9166,58.80,62,0,1.01
2,2,Busselton,AU,2022-02-05 17:08:09,-33.6500,115.3333,68.04,70,0,2.57
3,3,Ola,RU,2022-02-05 17:08:10,59.5833,151.2833,-1.53,74,87,11.86
4,4,Tasiilaq,GL,2022-02-05 17:08:11,65.6145,-37.6368,26.76,59,100,10.00

In [3]:
# Confirm the data types for the data columns are integers or floating-point decimal numbers.
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Create a Maximum Temperature Heatmap
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Get the maximum temperature.
# Note: Google heatmaps do not plot negative numbers
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [6]:
# Create the heatmap for the maximum temperature
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.

fig

Figure(layout=FigureLayout(height='420px'))

In [15]:
# Create a Wind Speed Heatmap
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.

fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Get Vacation Criteria
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [11]:
# Filter the dataset to find the cities that fit the criteria.
# Filter the maximum temperature column in the city_data_df
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
5,5,Rikitea,PF,2022-02-05 17:08:11,-23.1203,-134.9692,78.62,73,53,12.82
6,6,Chuy,UY,2022-02-05 17:06:53,-33.6971,-53.4616,83.12,50,83,8.52
9,9,Arraial Do Cabo,BR,2022-02-05 17:08:13,-22.9661,-42.0278,85.86,66,0,21.85
13,13,Lorengau,PG,2022-02-05 17:08:14,-2.0226,147.2712,80.35,80,40,8.79
14,14,Carnarvon,AU,2022-02-05 17:04:31,-24.8667,113.6333,80.51,76,24,7.65
19,19,Ipixuna,BR,2022-02-05 17:08:16,-1.7625,-48.8043,84.15,85,100,2.93
23,23,Oriximina,BR,2022-02-05 17:08:18,-1.7656,-55.8661,87.21,62,74,2.30
26,26,Poum,NC,2022-02-05 17:08:19,-20.2333,164.0167,80.44,72,87,5.35
27,27,Hithadhoo,MV,2022-02-05 17:05:40,-0.6000,73.0833,82.67,75,100,12.01
31,31,Marang,MY,2022-02-05 17:08:21,5.2056,103.2059,76.66,87,92,8.88

In [16]:
# determine if there are any null values.
preferred_cities_df.count()

City_ID       162
City          162
Country       161
Date          162
Lat           162
Lng           162
Max Temp      162
Humidity      162
Cloudiness    162
Wind Speed    162
dtype: int64

In [17]:
# Map Vacation Criteria
# Get Travel Destinations
# # Note: Don't add the hotel information to the preferred_cities_df DataFrame because this DataFrame is our filtered DataFrame, 
    # and the customer will always filter it for each trip. 
    # We'll need to create a new DataFrame specifically for the data needed to create a heatmap and pop-up markers.
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

               City Country  Max Temp      Lat       Lng Hotel Name
5           Rikitea      PF     78.62 -23.1203 -134.9692
6              Chuy      UY     83.12 -33.6971  -53.4616
9   Arraial Do Cabo      BR     85.86 -22.9661  -42.0278
13         Lorengau      PG     80.35  -2.0226  147.2712
14        Carnarvon      AU     80.51 -24.8667  113.6333
19          Ipixuna      BR     84.15  -1.7625  -48.8043
23        Oriximina      BR     87.21  -1.7656  -55.8661
26             Poum      NC     80.44 -20.2333  164.0167
27        Hithadhoo      MV     82.67  -0.6000   73.0833
31           Marang      MY     76.66   5.2056  103.2059

In [30]:
# Retrieve Hotels from a Nearby Search
# Set the Parameters for a Nearby Search
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}
# Iterate Through hotel_df DataFrame
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [31]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
5,Rikitea,PF,78.62,-23.1203,-134.9692,People ThankYou
6,Chuy,UY,83.12,-33.6971,-53.4616,Nuevo Hotel Plaza
9,Arraial Do Cabo,BR,85.86,-22.9661,-42.0278,Pousada Porto Praia
13,Lorengau,PG,80.35,-2.0226,147.2712,Lorengau Harbourside Hotel
14,Carnarvon,AU,80.51,-24.8667,113.6333,Hospitality Carnarvon
19,Ipixuna,BR,84.15,-1.7625,-48.8043,Casa da Oscarina
23,Oriximina,BR,87.21,-1.7656,-55.8661,Pousada Tia Amélia
26,Poum,NC,80.44,-20.2333,164.0167,Malabou Beach Hotel
27,Hithadhoo,MV,82.67,-0.6000,73.0833,Scoop Guest House
31,Marang,MY,76.66,5.2056,103.2059,DBarakah Homestay

In [32]:
# Create a Maximum Temperature Heatmap from a Hotel DataFrame
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [33]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [39]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [40]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [41]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))